.link-item {
  display: block;
  min-width: 60px;
  max-width: 120px;
  height: 30px;
  background-color: var(--background-color);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-base);
  color: var(--font-color-light);
  user-select: none;
  text-decoration: none;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.link-item:hover {
  background-color: var(--info-color);
  color: var(--white);
}
.link-item-active {
  background-color: var(--info-color);
  color: var(--white);
}
